@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.alert {
  margin-block: 1rem;
  padding-block: 0.5rem;
  font-weight: v.$fontWeightBold;
  text-align: center;
  text-transform: uppercase;

  &Error {
    background-color: v.$colorError;
  }

  &Success {
    background-color: v.$colorSuccess;
  }

  p {
    margin-block: 0;
    color: v.$colorWhite;
  }
}
