@use '../abstracts/variables' as v;

.container {
  inline-size: min(95%, 120rem);
  margin-inline: auto;
}
.section {
  margin-block-start: v.$gap;
  margin-block-end: calc(v.$gap / 2);
}
.centerContent {
  max-inline-size: 80rem;
}
.alignEnd {
  display: flex;
  justify-content: flex-end;
}
