@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.aboutContent {
  @include m.grid(1, 2rem);

  @include m.respond(tablet) {
    @include m.grid(2, 2rem);
  }
}

.aboutText > blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block: 1rem 3rem;
  font-size: 2.2rem;
  font-weight: v.$fontWeightBold;
}
