@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fontPrimary: 'Lato', sans-serif;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

$colorBlack: #000000;
$colorYellow: #e08709;
$colorGreen: #71b100;
$colorWhite: #ffffff;
$colorGrey: #e1e1e1;
$colorGreyDarker: #333333;
$colorError: #bc0606;

$gap: 5rem;
