@use '../abstracts/variables' as v;

.footer {
  padding-block: calc(v.$gap / 2);
  background-color: v.$colorGreyDarker;

  &.section {
    margin-block-end: unset;
  }

  .footerContainer {
    padding-block-start: calc(v.$gap / 2);
  }

  .copyright {
    color: v.$colorWhite;
    text-align: center;
  }
}
