@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3rem;

  @include m.respond(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.mobileMenu {
  @include m.respond(tablet) {
    display: none;
  }

  img {
    margin-block-start: 1.2rem;
    inline-size: 5rem;
  }
}

.header .mainNavigation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s linear;

  @include m.respond(tablet) {
    visibility: visible;
    opacity: 1;
  }
}

.mainNavigation {
  ul {
    display: block;
    text-align: center;

    @include m.respond(tablet) {
      display: flex;
      gap: 2rem;
    }

    a {
      font-size: 1.8rem;
      color: v.$colorWhite;
    }
  }
}

.active + .mainNavigation {
  visibility: visible;
  opacity: 1;
}
