@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3rem;

  @include m.respond(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.mobileMenu {
  @include m.respond(tablet) {
    display: none;
  }

  img {
    margin-block-start: 1.2rem;
    inline-size: 5rem;
  }
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.respond(tablet) {
    align-items: flex-end;
    padding-block-end: 3rem;
  }

  .darkMode-btn {
    margin-block: 3rem 2rem;
    inline-size: 3rem;
    filter: invert(100%);

    &:hover {
      cursor: pointer;
    }

    @include m.respond(tablet) {
      margin-block-start: unset;
    }
  }
}

.header .mainNavigation {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.5s linear,
    height 0.6s ease-in-out;

  @include m.respond(tablet) {
    visibility: visible;
    opacity: 1;
  }

  &.home {
    height: auto;
  }
}

.mainNavigation {
  ul {
    display: block;
    text-align: center;

    @include m.respond(tablet) {
      display: flex;
      gap: 2rem;
    }

    a {
      font-size: 1.8rem;
      color: v.$colorWhite;
    }
  }
}

.active + .navigationContainer .mainNavigation {
  visibility: visible;
  opacity: 1;
  height: auto;
}
